<ul>
  <li>
    <%= @olympic.sport %>
    <br>
    <%= @olympic.country %>
  </li>
</ul>

<%= link_to 'Edit', edit_olympic_path(@olympic) %>
<%= link_to 'Delete', olympic_path(@olympic), method: :delete %>